body, html{
    background-color: rgb(236, 236, 250);
}

#side-bar{
    list-style-type: none;
    padding: 0;
    float: left;
}

#side-bar li{
    padding: 5px;
    text-align: left;
    margin-left: 0px;
    border-radius: 10px;
}

#side-bar li:hover{
    background-color: rgb(26, 77, 155);
}

#side-bar a{
    text-decoration: none;
    color: white;
}

.cards{
    width: 80%;
    height: 100%;
    float:right;
    position: relative;
}

.cards .card{
    margin-bottom: 5px;
}

.cards .row{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
}

.cards .row .col{
    border: 1px solid black;
}

.main{
    width: 80%;
    float:right;
    padding: 5%;
}

.info-chamado{
    width: 100%;
    height: 420px;
}

#descricao-chamado{
    width: 60%;
    height: 300px;
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#user-chamado{
    width: 30%;
    height: 300px;
    float: right;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-user{
    margin-left: 10px;
    margin-top: 10px;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    margin: 0 auto;
}

#user-chamado .h2{
    position: fixed;
    overflow: hidden;
}

.selects-chamado{
    width: 60%;
}

.selects-chamado h4{
    width: 55%;
    float: left;
}

.selects-chamado .col-3{
    width: 45%;
    float: right;
}

#selects-chamado-status{
    float: right;
    margin-right: 2.5%;
}

.comentarios-chamado{
    width: 60%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    float: left;
}

.icon-user-comentario{
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
}

.texto-comentario{
    float: left;
    margin-left: 45px;
    margin-right: 25px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    margin-top: -10px;
}

.data-comentario{
    margin-left: 45px;
    margin-top: 23px;
    font-size: 12px;
    margin-bottom: 0;
}

#btn-comentario{
    margin-top: 10px;
}

#status-h3{
    float: left;
    margin-left: 37%;
}

.content-horarios-chamado{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
    height: 200px;
    float: right;
    padding: 1%;
}

.horarios-chamados{
    width: 99%;
}

.table-horarios{
    border:1px solid black;
    width: 100%;
    height: 100%;
}

.table-horarios th{
    border: 1px solid black;
    margin: 0 auto;
}

